[phases.setup]
nixPkgs = ['...', 'php82Extensions.intl', 'php82Extensions.zip']

[phases.install]
cmds = ['composer install --optimize-autoloader --no-dev']

[phases.build]
cmds = [
    'npm ci',
    'npm run build',
    'mkdir -p storage/framework/{sessions,views,cache}',
    'mkdir -p storage/logs',
    'chmod -R 775 storage bootstrap/cache'
]

[start]
cmd = 'php artisan storage:link && php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=$PORT'